# Group 4 (Labelled)

True = True news 
False= False news

In [2]:
import pandas as pd 

#group 4 
#have to read seperately perez_rosas_etal_2018= pd.read_csv()

#misinformation
misinfo_asr_ft_etal_emergent= pd.read_csv("MisInfoText_Asr_FT_etal_2019-Emergent/emergent_phase2_clean_2018_7_2.csv", header= 0)

# misinfo_asr_ft_etal_emergent

In [12]:
#droping unverified data
misinfo_emergent=misinfo_asr_ft_etal_emergent[misinfo_asr_ft_etal_emergent.fact_tag_phase1 != 'Unverified']
misinfo_emergent=misinfo_emergent.reset_index(drop=True)

#dropping other columns only taking misinfo_asr_ft_etal_emergent['original_article_text_phase2'] and label
misinfo_emergent=misinfo_emergent[['fact_tag_phase1','original_article_text_phase2']]

#renaming columns
misinfo_emergent= misinfo_emergent.rename(columns={'fact_tag_phase1':'Label','original_article_text_phase2':'Article'})

#converting label with True and False 
misinfo_emergent=misinfo_emergent.replace('true','True')
misinfo_emergent=misinfo_emergent.replace('false','False')

misinfo_emergent

       Article
Label
False       36
True        14

In [11]:
misinfo_snopes_original= pd.read_csv("MisInfoText_Asr_FT_etal_2019-Snopes/snopes_phase2_clean_2018_7_3.csv",header= 0, encoding="ISO-8859-1")
misinfo_snopes=misinfo_snopes_original[['fact_rating_phase1','original_article_text_phase2']]

#resetting index
misinfo_snopes=misinfo_snopes.reset_index(drop=True)

#dropping other labels in the data set 
misinfo_snopes=misinfo_snopes[(misinfo_snopes['fact_rating_phase1'] == 'true' )|(misinfo_snopes['fact_rating_phase1'] == 'false' )]

#changing name of the columns 
misinfo_snopes= misinfo_snopes.rename(columns={'fact_rating_phase1':'Label','original_article_text_phase2':'Article'})
misinfo_snopes=misinfo_snopes.replace('true','True')
misinfo_snopes=misinfo_snopes.replace('false','False')

misinfo_snopes.groupby('Label').count()

       Article
Label
False     7972
True      1619

In [10]:
#Parez_Rosas dataset 
import glob

#collecting list of directories
#collecting fake data
folder_location=["Perez-Rosas_etal_2018/fakeNewsDatasets/fakeNewsDataset/fake/*.txt",
                 "Perez-Rosas_etal_2018/fakeNewsDatasets/fakeNewsDataset/legit/*.txt",
                 "Perez-Rosas_etal_2018/fakeNewsDatasets/celebrityDataset/fake/*.txt",
                 "Perez-Rosas_etal_2018/fakeNewsDataset/celebrityDataset/legit/*.txt"]
#creating dataframe
Parez_Rosas= pd.DataFrame(columns=['Article','Label'])
for folder in folder_location:
    file_list = [f for f in glob.glob(folder)]
    for file in file_list:
        f=open(file, "r")
        content= f.read()
        if "legit" in file:
            Parez_Rosas=Parez_Rosas.append({'Article':content,'Label':'True'},ignore_index=True)
        else:
            Parez_Rosas=Parez_Rosas.append({'Article':content,'Label':'False'},ignore_index=True)


Parez_Rosas.groupby('Label').count()

       Article
Label
False      490
True       240

# Merging dataset Group 4 (Labelled)data set

In [8]:
label_frames = [misinfo_emergent, misinfo_snopes, Parez_Rosas]

labeled_dataset = pd.concat(label_frames,sort=False,ignore_index=True)
labeled_dataset=label_dataset.reset_index(drop=True)
labeled_dataset

       Article
Label
False     8498
True      1873

# Group-3

<b>Unlabelled data</b>

In [13]:
#group 3 

#nela_gt = The final set of article data is arranged in an sqlite data, 
#with date, source, title, and cleaned text content for each article. 
#The labels are provided in CSV format, with rows being sources and columns being each label 
#gathered from all the assessment sites
nela_gt= pd.read_csv("NELA-GT-2018_Norregaard_etal_2019/labels.csv",header=None)

In [14]:
nela_gt_label= nela_gt.fillna(0)

In [15]:
nela_gt_label

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0,"NewsGuard, Does not repeatedly publish false c...","NewsGuard, Gathers and presents information re...","NewsGuard, Regularly corrects or clarifies errors","NewsGuard, Handles the difference between news...","NewsGuard, Avoids deceptive headlines","NewsGuard, Website discloses ownership and fin...","NewsGuard, Clearly labels advertising","NewsGuard, Reveals who's in charge, including ...","NewsGuard, Provides information about content ...",...,"Allsides, community_agree","Allsides, community_disagree","Allsides, community_label","BuzzFeed, leaning","PolitiFact, Pants on Fire!","PolitiFact, False","PolitiFact, Mostly False","PolitiFact, Half-True","PolitiFact, Mostly True","PolitiFact, True"
1,21stCenturyWire,0,0,0,0,0,0,0,0,0,...,0,0,0,left,0,0,0,0,0,0
2,ABC News,0,0,0,0,0,0,0,1,0,...,8964,6949,somewhat agree,0,0,0,0,0,0,0
3,AMERICAblog News,0,0,0,0,0,0,0,0,0,...,0,0,0,left,0,0,0,0,0,0
4,Activist Post,0,0,0,0,0,0,0,0,0,...,0,0,0,left,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,iPolitics,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
191,oann,0,0,0,0,0,0,0,0,0,...,0,0,0,right,0,0,0,0,0,0
192,rferl,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
193,sott.net,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
194,theRussophileorg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
import sqlite3
conn = sqlite3.connect('NELA-GT-2018_Norregaard_etal_2019/articles.db')
# con = conn.cursor()

# reading from Sqlite LIMIT is 100 , do increase the number while 
nelagt_df_original = pd.read_sql_query("SELECT * from articles LIMIT 100", conn)
nelagt_df= pd.DataFrame(columns=['Article','Label'])
nelagt_df['Article'] =nelagt_df_original['content']
# nelagt_df =nelagt_df.rename(columns={'content':'Article'})
nelagt_df

                                              Article Label
0   Since Donald Trump Jr. has admitted on Twitter...   NaN
1   The Republican-written and Republican-altered ...   NaN
2   The world is still laughing at the Trump admin...   NaN
3   Visiting the Matanuska banana plantation is no...   NaN
4   In Croatia, thousands of people with mental il...   NaN
..                                                ...   ...
95  In an amazing example of just how out of touch...   NaN
96  It didnt take long for CNN to crank the anti-T...   NaN
97  Things were getting a little too patriotic for...   NaN
98  FBI Director Christopher Wray has either been ...   NaN
99  There is nothing worse than a cornered Rat. Ex...   NaN

[100 rows x 2 columns]

In [44]:
# 1:"Satire",2:"Hoax",3:"Propaganda",4:"Trusted"

raskin_etal_original = pd.read_csv("Rashkin_etal_2017/newsfiles/fulltrain.csv",names=['Label','Article'],header=None)
# raskin_etal[1][1],raskin_etal[0][1]
raskin_etal = raskin_etal_original

#with no label
raskin_etal['Label']='NaN'
raskin_etal

      Label                                            Article
0       NaN  A little less than a decade ago, hockey fans w...
1       NaN  The writers of the HBO series The Sopranos too...
2       NaN  Despite claims from the TV news outlet to offe...
3       NaN  After receiving 'subpar' service and experienc...
4       NaN  After watching his beloved Seattle Mariners pr...
...     ...                                                ...
48849   NaN  The ruling Kuomintang (KMT) has claimed owners...
48850   NaN  The Taipei city government has encouraged the ...
48851   NaN  President Ma Ying-jeou said Friday that a park...
48852   NaN  The families of the four people who were kille...
48853   NaN  The Ministry of Finance will make public on Sa...

[48854 rows x 2 columns]

# merging data un labelled data

In [46]:
Unlabel_frames = [raskin_etal, nelagt_df, ]

Unlabeled_dataset = pd.concat(Unlabel_frames,sort=False,ignore_index=True)
Unlabeled_dataset=Unlabeled_dataset.reset_index(drop=True)

#unlabelled dataset
Unlabeled_dataset

      Label                                            Article
0       NaN  A little less than a decade ago, hockey fans w...
1       NaN  The writers of the HBO series The Sopranos too...
2       NaN  Despite claims from the TV news outlet to offe...
3       NaN  After receiving 'subpar' service and experienc...
4       NaN  After watching his beloved Seattle Mariners pr...
...     ...                                                ...
48949   NaN  In an amazing example of just how out of touch...
48950   NaN  It didnt take long for CNN to crank the anti-T...
48951   NaN  Things were getting a little too patriotic for...
48952   NaN  FBI Director Christopher Wray has either been ...
48953   NaN  There is nothing worse than a cornered Rat. Ex...

[48954 rows x 2 columns]