# Group 4 (Labelled)

True = True news 
False= False news

In [7]:
import pandas as pd 
import numpy as np

#group 4 
#have to read seperately perez_rosas_etal_2018= pd.read_csv()

#misinformation
misinfo_asr_ft_etal_emergent= pd.read_csv("MisInfoText_Asr_FT_etal_2019-Emergent/emergent_phase2_clean_2018_7_2.csv", header= 0)

# misinfo_asr_ft_etal_emergent

In [8]:
#droping unverified data
misinfo_emergent=misinfo_asr_ft_etal_emergent[misinfo_asr_ft_etal_emergent.fact_tag_phase1 != 'Unverified']
misinfo_emergent=misinfo_emergent.reset_index(drop=True)

#dropping other columns only taking misinfo_asr_ft_etal_emergent['original_article_text_phase2'] and label
misinfo_emergent=misinfo_emergent[['fact_tag_phase1','original_article_text_phase2']]

#renaming columns
misinfo_emergent= misinfo_emergent.rename(columns={'fact_tag_phase1':'Label','original_article_text_phase2':'Article'})

#converting label with True and False 
misinfo_emergent=misinfo_emergent.replace('true','True')
misinfo_emergent=misinfo_emergent.replace('false','False')

misinfo_emergent

    Label                                            Article
0   False  You know youre in trouble when Tom Brokaw is o...
1    True  DUBAI  - A prominent Saudi Arabian cleric has ...
2   False  0 NEW YORK, New York  Vladimir Kershov, public...
3   False  0 NORTH HOLLYWOOD, California  Kurt Sutter, cr...
4   False  Update: The Twitter account attributed to Lisa...
5    True  Seth Rogen has been set to star as Steve Wozni...
6    True  Copyright 2018 Nexstar Broadcasting, Inc. All ...
7    True  Photo: Neilson Barnard/Getty Images Matt Taibb...
8   False  UPDATE: The original opening sentence of this ...
9   False  The scuttlebutt from sources in Detroit is tha...
10  False  It wasnt very long ago that NHL commissioner G...
11  False  North Korean dictator Kim Jong-Un is consideri...
12  False  Remember the crunch of the cornmeal crust? And...
13  False  McDonalds Removing Big Mac, Apple Pies And Eli...
14  False  Editor's Note: In the most recent edition of N...
15  False  Showing a rather shocking disregard for the lo...
16   True  SHARE THIS ARTICLE Facebook Twitter LinkedIn E...
17  False  If you needed another reason to hate Comcast, ...
18   True  Microsoft is in talks to acquire Swedish game ...
19   True  Tesla has finally decided that it will build i...
20   True  Apple is preparing an all-new MacBook Air for ...
21  False  World Iraqi Army Downs 2 UK Planes Carrying We...
22  False  GAZA CITY (Ma'an) -- Hundreds of Palestinians ...
23  False  It's been a rough year for the tennis player, ...
24  False  On l'a appris ce matin, un commissaire du SRPJ...
25   True  A senior official of the Central Public Works ...
26  False  BUENOS AIRES, Argentina   Argentinas president...
27   True  LONDON -- A pickup truck once owned by a plumb...
28  False  Uncertainty abounds concerning the fate of Isr...
29  False  I love the looks of you, the lure of youThe sw...
30  False  Nigerias government and Boko Haram have agreed...
31  False  A Republican congressman claimed Tuesday that ...
32  False  IGUALA, Gro. (proceso.com.mx).- Hasta el momen...
33  False  Madrid | Doctors of the Carlos III hospital co...
34  False  The contrasts between America's school meals a...
35  False  Legendary country music star Willie Nelson was...
36  False  Boston | A Catholic priest from Massachusetts ...
37   True  Oregon State's trip home from Los Angeles was ...
38  False  LOS ANGELES, California ( The Adobo Chronicles...
39   True  UPDATE! February 2, 2017 Here is how comfortab...
40   True  A pizza delivery guy named Rob is presented wi...
41  False  0 FORT DEVENS, Massachusetts  Infamous Boston ...
42  False  Perth | A 600-pound woman has given birth to a...
43  False  Waco | An 85-year-old Texas woman has been arr...
44   True  Sukces lskich lekarzy. Zesp specjalistw z Cent...
45  False  Rolla, MO | FBI agents cracked down on unsuspe...
46  False  Planetary Alignment On Jan 4, 2015 Will Decrea...
47  False  0 BUTTE, Montana  Robert ONeill, the former Un...
48  False  McDonalds Will Stop Serving Overweight Custome...
49  False  31.4k SHARES Share Tweet STOCKHOLM  Speaking v...

In [11]:
misinfo_snopes_original= pd.read_csv("MisInfoText_Asr_FT_etal_2019-Snopes/snopes_phase2_clean_2018_7_3.csv",header= 0, encoding="ISO-8859-1")
misinfo_snopes=misinfo_snopes_original[['fact_rating_phase1','original_article_text_phase2']]

#resetting index
misinfo_snopes=misinfo_snopes.reset_index(drop=True)

#dropping other labels in the data set 
misinfo_snopes=misinfo_snopes[(misinfo_snopes['fact_rating_phase1'] == 'true' )|(misinfo_snopes['fact_rating_phase1'] == 'false' )]

#changing name of the columns 
misinfo_snopes= misinfo_snopes.rename(columns={'fact_rating_phase1':'Label','original_article_text_phase2':'Article'})
misinfo_snopes=misinfo_snopes.replace('true','True')
misinfo_snopes=misinfo_snopes.replace('false','False')

misinfo_snopes.groupby('Label').count()

       Article
Label
False     7972
True      1619

In [12]:
#Parez_Rosas dataset 
import glob

#collecting list of directories
#collecting fake data
folder_location=["Perez-Rosas_etal_2018/fakeNewsDatasets/fakeNewsDataset/fake/*.txt",
                 "Perez-Rosas_etal_2018/fakeNewsDatasets/fakeNewsDataset/legit/*.txt",
                 "Perez-Rosas_etal_2018/fakeNewsDatasets/celebrityDataset/fake/*.txt",
                 "Perez-Rosas_etal_2018/fakeNewsDataset/celebrityDataset/legit/*.txt"]
#creating dataframe
Parez_Rosas= pd.DataFrame(columns=['Article','Label'])
for folder in folder_location:
    file_list = [f for f in glob.glob(folder)]
    for file in file_list:
        f=open(file, "r")
        content= f.read()
        if "legit" in file:
            Parez_Rosas=Parez_Rosas.append({'Article':content,'Label':'True'},ignore_index=True)
        else:
            Parez_Rosas=Parez_Rosas.append({'Article':content,'Label':'False'},ignore_index=True)


Parez_Rosas.groupby('Label').count()

       Article
Label
False      490
True       240

# Merging dataset Group 4 (Labelled)data set

In [17]:
label_frames = [misinfo_emergent, misinfo_snopes, Parez_Rosas]

labeled_dataset = pd.concat(label_frames,sort=False,ignore_index=True)
labeled_dataset=labeled_dataset.reset_index(drop=True)
# labeled_dataset.groupby('Label').count()
labeled_dataset

       Label                                            Article
0      False  You know youre in trouble when Tom Brokaw is o...
1       True  DUBAI  - A prominent Saudi Arabian cleric has ...
2      False  0 NEW YORK, New York  Vladimir Kershov, public...
3      False  0 NORTH HOLLYWOOD, California  Kurt Sutter, cr...
4      False  Update: The Twitter account attributed to Lisa...
...      ...                                                ...
10366  False  It's All About The Ka$h! Kim Kardashian & Kany...
10367  False  Aquaman actresses Nicole Kidman and Amber Hear...
10368  False  Kendall Jenner: Why She’s Quitting ‘KUWTK’ But...
10369  False  Mariah Carey’s manager was always hungry for f...
10370  False  Malia Obama Has Barack And Michelle Worried – ...

[10371 rows x 2 columns]

# Group-3

<b>Unlabelled data</b>

In [13]:
#group 3 

#nela_gt = The final set of article data is arranged in an sqlite data, 
#with date, source, title, and cleaned text content for each article. 
#The labels are provided in CSV format, with rows being sources and columns being each label 
#gathered from all the assessment sites
nela_gt= pd.read_csv("NELA-GT-2018_Norregaard_etal_2019/labels.csv",header=None)

In [14]:
nela_gt_label= nela_gt.fillna(0)

In [15]:
nela_gt_label

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0,"NewsGuard, Does not repeatedly publish false c...","NewsGuard, Gathers and presents information re...","NewsGuard, Regularly corrects or clarifies errors","NewsGuard, Handles the difference between news...","NewsGuard, Avoids deceptive headlines","NewsGuard, Website discloses ownership and fin...","NewsGuard, Clearly labels advertising","NewsGuard, Reveals who's in charge, including ...","NewsGuard, Provides information about content ...",...,"Allsides, community_agree","Allsides, community_disagree","Allsides, community_label","BuzzFeed, leaning","PolitiFact, Pants on Fire!","PolitiFact, False","PolitiFact, Mostly False","PolitiFact, Half-True","PolitiFact, Mostly True","PolitiFact, True"
1,21stCenturyWire,0,0,0,0,0,0,0,0,0,...,0,0,0,left,0,0,0,0,0,0
2,ABC News,0,0,0,0,0,0,0,1,0,...,8964,6949,somewhat agree,0,0,0,0,0,0,0
3,AMERICAblog News,0,0,0,0,0,0,0,0,0,...,0,0,0,left,0,0,0,0,0,0
4,Activist Post,0,0,0,0,0,0,0,0,0,...,0,0,0,left,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,iPolitics,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
191,oann,0,0,0,0,0,0,0,0,0,...,0,0,0,right,0,0,0,0,0,0
192,rferl,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
193,sott.net,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
194,theRussophileorg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
import sqlite3
conn = sqlite3.connect('NELA-GT-2018_Norregaard_etal_2019/articles.db')
# con = conn.cursor()

# reading from Sqlite LIMIT is 100 , do increase the number while 
nelagt_df_original = pd.read_sql_query("SELECT * from articles LIMIT 100", conn)
nelagt_df= pd.DataFrame(columns=['Article','Label'])
nelagt_df['Article'] =nelagt_df_original['content']
# nelagt_df =nelagt_df.rename(columns={'content':'Article'})
nelagt_df

                                              Article Label
0   Since Donald Trump Jr. has admitted on Twitter...   NaN
1   The Republican-written and Republican-altered ...   NaN
2   The world is still laughing at the Trump admin...   NaN
3   Visiting the Matanuska banana plantation is no...   NaN
4   In Croatia, thousands of people with mental il...   NaN
..                                                ...   ...
95  In an amazing example of just how out of touch...   NaN
96  It didnt take long for CNN to crank the anti-T...   NaN
97  Things were getting a little too patriotic for...   NaN
98  FBI Director Christopher Wray has either been ...   NaN
99  There is nothing worse than a cornered Rat. Ex...   NaN

[100 rows x 2 columns]

In [44]:
# 1:"Satire",2:"Hoax",3:"Propaganda",4:"Trusted"

raskin_etal_original = pd.read_csv("Rashkin_etal_2017/newsfiles/fulltrain.csv",names=['Label','Article'],header=None)
# raskin_etal[1][1],raskin_etal[0][1]
raskin_etal = raskin_etal_original

#with no label
raskin_etal['Label']='NaN'
raskin_etal

      Label                                            Article
0       NaN  A little less than a decade ago, hockey fans w...
1       NaN  The writers of the HBO series The Sopranos too...
2       NaN  Despite claims from the TV news outlet to offe...
3       NaN  After receiving 'subpar' service and experienc...
4       NaN  After watching his beloved Seattle Mariners pr...
...     ...                                                ...
48849   NaN  The ruling Kuomintang (KMT) has claimed owners...
48850   NaN  The Taipei city government has encouraged the ...
48851   NaN  President Ma Ying-jeou said Friday that a park...
48852   NaN  The families of the four people who were kille...
48853   NaN  The Ministry of Finance will make public on Sa...

[48854 rows x 2 columns]

# Merging data unlabelled data

In [46]:
Unlabel_frames = [raskin_etal, nelagt_df, ]

Unlabeled_dataset = pd.concat(Unlabel_frames,sort=False,ignore_index=True)
Unlabeled_dataset=Unlabeled_dataset.reset_index(drop=True)

#unlabelled dataset
Unlabeled_dataset

      Label                                            Article
0       NaN  A little less than a decade ago, hockey fans w...
1       NaN  The writers of the HBO series The Sopranos too...
2       NaN  Despite claims from the TV news outlet to offe...
3       NaN  After receiving 'subpar' service and experienc...
4       NaN  After watching his beloved Seattle Mariners pr...
...     ...                                                ...
48949   NaN  In an amazing example of just how out of touch...
48950   NaN  It didnt take long for CNN to crank the anti-T...
48951   NaN  Things were getting a little too patriotic for...
48952   NaN  FBI Director Christopher Wray has either been ...
48953   NaN  There is nothing worse than a cornered Rat. Ex...

[48954 rows x 2 columns]